<ion-view ng-cloak id="musicCtrl">
    <ion-content
            padding="false"
            has-bouncing="true"
            scrollbar-y="false"
            scrollbar-x="false"
            direction="y">
    <div class="welcome">
        <p>THE FREEDOM</p>
        <p>Home Automation Of Freedom</p>
    </div>
    <p class="musicTitle">{{resourceService.musicFileList[resourceService.musicStatus.musicIndex]?(resourceService.musicFileList[resourceService.musicStatus.musicIndex] | splitMusicName).name:'Enjoy Your Music'}}</p>
    <div class="ctrl">
        <div class="left" ng-click="lastAndNext('last')">
            <i class="icon ion-ios-skipbackward"></i>
        </div>
        <div class="middle">
            <div class="outCircle" ng-click="controlButtonClicked()">
                <i ng-if="resourceService.musicStatus.status!='playing'" class="icon ion-play"></i>
                <i ng-if="resourceService.musicStatus.status=='playing'" class="icon ion-pause"></i>
            </div>
        </div>
        <div class="right" ng-click="lastAndNext('next')">
            <i class="icon ion-ios-skipforward"></i>
        </div>
    </div>
    <p class="musicSubTitle">{{resourceService.musicFileList[resourceService.musicStatus.musicIndex]?(resourceService.musicFileList[resourceService.musicStatus.musicIndex] | splitMusicName).author:'Have A Nice Day'}}</p>
    <div class="parent">
        <div class="child" ng-click="openModal()">
            <i class="icon ion-eject"></i>
        </div>
        <div class="child">
            <i class="icon ion-ios-shuffle-strong"></i>
        </div>
        <div class="child">
            <i class="icon ion-ios-loop-strong"></i>
        </div>
        <div class="child" ng-click="stop()">
            <i class="icon ion-power"></i>
        </div>
    </div>
        </ion-content>

    <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view class="hafOpacity musicCtrlModel">
                <div class="bar bar-header item-input-inset" style="background-color: rgba(18, 44, 84,1);">
                    <label class="item-input-wrapper" style="background-color: rgba(32, 34, 38,.3)">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" placeholder="Search" style="color: #889bb9" ng-model="searchText">
                    </label>
                    <button class="button button-clear">
                        Cancel
                    </button>
                </div>
            <ion-content
                    class="has-header opacity has-footer"
                    padding="false"
                    has-bouncing="true"
                    scrollbar-y="true"
                    scrollbar-x="false"
                    direction="y"
                    >
                <ul class="list">
                    <li class="item opacity" ng-repeat="music in resourceService.musicFileList | filter:searchText" ng-click="changeMusic(music);closeModal()">{{(music | splitMusicName).name}}</li>
                </ul>
            </ion-content>
            <div class="bar bar-footer bar-dark" ng-click="closeModal()">
                <div style="color: #889bb9" class="title">Cancel</div>
            </div>
        </ion-modal-view>
    </script>
</ion-view>
